<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>artist sign up</title>
    <!-- Font Awesome -->
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<% include header.html %>
<style>
.md-form label{
    color: white;
}
input:focus{
    box-shadow:  0 1px 0 0 white;
    border-bottom: 1px solid white;
}

</style>
</head>
<body>
    <!--Section: Contact v.2-->
    <section class="pricing-plane-area section_padding_100_70 clearfix" style="background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%); ">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-5 text-light">Register your self</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5 text-light">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        matter of hours to help you.</p>

    <div class="row justify-content-center">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="/app/artistSignup" method="POST" enctype="multipart/form-data">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0"><i class="fa fa-user prefix"style="color: white;"></i>
                            <% if(currentUser) { %>
                                <input type="text" id="name" name="name" class="form-control" style="color:white;" value="<%= user.NAME %>" disabled>

                            <%  }  else {%>
                            <input type="text" id="name" name="name" class="form-control" style="color:white;">
                            <label for="name" class="">Your name</label>
                            <% } %>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0"><i class="fa fa-envelope prefix"style="color: white;"></i>

                            <% if(currentUser) { %>
                                <input type="text" id="name" name="name" class="form-control" style="color:white;" value="<%= user.EMAIL %>" disabled>
                            <%  }  else {%>
                                <input type="text" id="email" name="email" class="form-control" style="color:white;">
                                <label for="email" class="">Your email</label>
                            <% } %>

                            
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0"><i class="fa fa-phone prefix"style="color: white;"></i>

                            <% if(currentUser) { %>
                                <input type="text" id="name" name="name" class="form-control" style="color:white;" value="<%= user.MOBILE %>" disabled>
                            <%  }  else {%>
                                <input type="tel" id="name" name="phone" class="form-control" style="color:white;">
                                <label for="mobile" class="">Your mobile</label>
                            <% } %>


                           
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0"><i class="fa fa-map-marker prefix"style="color: white;"></i>

                            
                            <input type="text" id="email" name="address" class="form-control" style="color:white;">
                            <label for="address" class="">Your address</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0"><i class="fa fa-lock prefix"style="color: white;"></i>
                            <input type="password" id="name" name="pwd" class="form-control" style="color:white;">
                            <label for="password" class="">Your password</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0"><i class="fa fa-lock prefix"style="color: white;"></i>
                            <input type="password" id="email" name="pwd2" class="form-control" style="color:white;">
                            <label for="password" class="">Repeat password</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0"><i class="fas fa-map-marker-alt prefix" style="color: white;"></i>
                            <input type="text" id="name" name="city" class="form-control" style="color:white;">
                            <label for="city" class="">Your city</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0"><i class="fa fa-globe prefix"style="color: white;"></i>
                            <input type="text" id="email" name="country" class="form-control" style="color:white;">
                            <label for="country" class="">Your country</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0"><i class="fa fa-map-marker prefix"style="color: white;"></i>
                            <input type="text" id="name" name="state" class="form-control" style="color:white;">
                            <label for="price" class="">State</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0"><i class="fa fa-file-image prefix"style="color: white;"></i>
                            <input type="file" id="email" name="pic" class="form-control">
                            <!-- <label for="product" class="">Your file</label> -->
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                  <!-- <div class="row">

                    <div class="col-md-12">

                        <div class="md-form"><i class="fa fa-info-circle prefix"style="color: white;"></i>
                            <textarea type="text" id="message" name="desc" rows="2" class="form-control md-textarea"></textarea>
                            <label for="description">Product description</label>
                        </div>

                    </div>
                </div> -->

            

            <div class="text-center text-md-center ">
                <button class="btn btn-outline-info btn-lg"  id="" type="submit">DONE !!</button>
            </div>
            <div class="status"></div>
        </form>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
<% include footer.html %>

</body>
</html>