<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>contest</title>
    <link href="/static/static/scripts/animate.css" rel="stylesheet">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">



    <% include header.html %>
    <style>
    .mycard > div{
        margin: 10px;
    }
    #picbtn{
        cursor: pointer;
    }
    .myhead{
        background-color: white;
        border-radius: 28%;
    }
    </style>
</head>
<body>


<section class="pricing-plane-area section_padding_100_70 clearfix" style="background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%); ">
  
        <% if(currentUser && currentUser.ROLE_ID == 1) { %>
    <span class="text-center float-right" style="margin-right: 5rem;">
                       <i class="fas fa-plus-circle fa-5x" style="color:white;" id="picbtn" data-toggle="modal" data-target="#modalLoginForm"></i>
                        <div class="caption text-light" >Add New Contest</div>
                    </span>
                    <% } %> 
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text  -->
                <div class="section-heading text-center">
                    <h2 style="color: white;" >Contests</h2>
                    <div class="line-shape"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Heading Text  -->
                <div class="section-heading ">
                    <img class="myhead"  src="/static/images/c2.png" alt ="no img" style="width: 8% ;height: 8%"><span style="font-size: 200%;color: white;"> &nbsp;&nbsp;&nbsp;&nbsp; Running Competitions</span>
                </div>
            </div>
        </div>


        <!--   yahaan contest waale card-->
        <div class="row no-gutters">



            
<% for(i in presentcompetition) { %>


    <div class="col-12 col-md-6 col-lg-3 mycard">
   
        <div class="single-price-plan text-center">
           
            <div class="package-plan">
                <img src="<%= '/static/uploads/'+presentcompetition[i].PIC %>" style="width: 100%; height: 180px;">
                <div class="caption"><h5><%= presentcompetition[i].TITLE %></h5></div>
                <div class="ca-price d-flex justify-content-center">
                </div>
            </div>
            <div class="package-description">
                
                <p><i class="fa fa-inr"></i> 30 For Registration</p>
                <p class="timee" data-cap="<%= presentcompetition[i].START_TIME %>" id="<%= presentcompetition[i].ID %>"  data-ayid="<%= presentcompetition[i].ID %>" ></p>
                <!-- <p><i class="fa fa-hourglass-start"></i>From: <%= ' '+presentcompetition[i].START_TIME.toString().substring(4,24) %></p> -->
                <p><i class="fa fa-hourglass-end"></i>To: <%= ' '+presentcompetition[i].END_TIME.toString().substring(4,24) %></p>
                <p><i class="fa fa-trophy"></i> &nbsp;&nbsp; WIN <%= '   '+presentcompetition[i].PRIZE %> </p>
                <p><i class="fa fa-user"></i>Max. Participants <%= ' '+presentcompetition[i].LIMITUSER %> </p>
            </div>
            <!-- Plan Button  -->
            <div class="plan-button">
                <a href="#">Registration Closed..!!</a>
            </div>
        </div>
    </div>

<% } %>




        </div>
    </div>




<!--Modal for adding contest-->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" >
            <div class="modal-content" style="background-image:  url('/static/images/contestmodal1.jpg');  background-repeat: no-repeat;  background-size: cover; background-position: center;">
               <form method="POST" action="/app/competition" enctype="multipart/form-data">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Competition</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5"  style="color: black">
                        <i class="fa fa-heading prefix  #30cfd0-text "></i>
                        <input type="text" name="title"  id="defaultForm-email" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-email"  style="color: black; font-weight:300">Title</label>
                    </div>
                    
                    <div class="md-form mb-5">
                         
                        <i class="fa fa-clock prefix black-text"></i>
                        <input type="date" name="startdate"  id="defaultForm-email" class="form-control validate">
                        <!-- <label data-error="wrong" data-success="right" for="defaultForm-email" style="color: black; font-weight:300">Start-Time</label> -->
                    </div>

                    <div class="md-form mb-5">
                            <i class="fa fa-clock prefix black-text"></i>
                            <input type="time" name="starttime" id="defaultForm-email" class="form-control validate">
                            <!-- <label data-error="wrong" data-success="right" for="defaultForm-email" style="color: black; font-weight:300">Start-Time</label> -->
                        </div>



                        <div class="md-form mb-5">
                                <i class="fa fa-clock prefix black-text"></i>
                                <input type="date" name="enddate" id="defaultForm-email" class="form-control validate">
                                <!-- <label data-error="wrong" data-success="right" for="defaultForm-email" style="color: black; font-weight:300">End-Time</label> -->
                            </div>


                 <div class="md-form mb-5">
                        <i class="fa fa-clock prefix black-text"></i>
                        <input type="time" name="endtime" id="defaultForm-email" class="form-control validate">
                        <!-- <label data-error="wrong" data-success="right" for="defaultForm-email" style="color: black; font-weight:300">End-Time</label> -->
                    </div>

                    <div class="md-form mb-5">
                        <i class="fa fa-trophy prefix black-text"></i>
                        <input type="text" name="prize" id="defaultForm-email" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-email" style="color: black; font-weight:300">Prize</label>
                    </div>
                    <div class="md-form mb-5">
                    
                        <i class="fas fa-image prefix black-text"></i>
                        <input type="file" name="pic" id="defaultForm-email" class="form-control validate">
                        <!-- <label data-error="wrong" data-success="right" for="defaultForm-email" style="color: black; font-weight:300">choose pic</label> -->
                    </div>
                    <div class="md-form mb-5">
                    
                        <i class="fas fa-user prefix black-text"></i>
                        <select name="coor" class="form-control" style="width: 25rem;margin-left: 2rem;">
                            <option value="0">Select Coordinator</option>
                            <% for(i in coordinators) {%>
                                <option value="<%= coordinators[i].ID %>"><%= coordinators[i].NAME %></option>
                            <% } %>
                        </select>
                        <!-- <label data-error="wrong" data-success="right" for="defaultForm-email" style="color: black; font-weight:300">choose pic</label> -->
                    </div>
                    <div class="md-form mb-5">
                        <i class="fa fa-user prefix black-text"></i>
                        <input type="number" name="participants" id="defaultForm-email" class="form-control validate">
                        <label data-error="wrong" data-success="right" for="defaultForm-email" style="color: black; font-weight:300">Max. Participants</label>
                    </div>



                    <!-- <button class="btn btn-default"  style="background: #0f0c29; 
                                    background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
                                    background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                                   ; border-radius: 3rem ">Create</button> -->



    
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button  type="submit" class="btn btn-default"  style="background: #0f0c29; 
                                    background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
                                    background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                                   ; border-radius: 3rem ">Create</button>
                </div>
            </form>
            </div>
        </div>
    </div>



<!-- ended here-->














<!--modal winner update karne ke liye-->

<div class="modal fade" id="winnerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" >
            <div class="modal-content" style="background-image:  url('/static/images/contestmodal1.jpg');  background-repeat: no-repeat;  background-size: cover; background-position: center;">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Competition</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">

                        <div class="md-form mb-5">
                                <i class="fas fa-user prefix black-text"></i>
                                <select name="win1" id="win1" class="form-control" style="width: 25rem;margin-left: 2rem;">
                                    <option value="0">Select First Winner</option>
                                </select>
                            </div>
                            <div class="md-form mb-5">
                                    <i class="fas fa-user prefix black-text"></i>
                                    <select name="win2" id="win2" class="form-control" style="width: 25rem;margin-left: 2rem;">
                                        <option value="0">Select Second Winner</option>
                                    </select>
                                </div>
                                <div class="md-form mb-5">
                                        <i class="fas fa-user prefix black-text"></i>
                                        <select name="win3" id="win3" class="form-control" style="width: 25rem;margin-left: 2rem;">
                                            <option value="0">Select Third Winner</option>
                                        </select>
                                    </div>




    
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button  type="submit" class="btn btn-default" data-cap="0" id="winnerModalBtn" style="background: #0f0c29; 
                                    background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
                                    background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                                   ; border-radius: 3rem ">Update</button>
                </div>
            </div>
        </div>
    </div>



<!-- ended here-->










</section>

<section class="pricing-plane-area section_padding_100_70 clearfix" style="background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%); ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Heading Text  -->
                <div class="section-heading ">
                    <img class="myhead" src="/static/images/c1.png" alt ="no img" style="width: 8% ;height: 8%"><span style="font-size: 200%;color: white;"> &nbsp;&nbsp;&nbsp;&nbsp; Upcoming Competitions</span>
                </div>
            </div>
        </div>


        <!--   yahaan contest waale card-->
        <div class="row no-gutters">

<% for(i in futurecompetition) { %>


            <div class="col-12 col-md-6 col-lg-3 mycard">
                <!-- Package Price  -->
                <div class="single-price-plan text-center">
                    <!-- Package Text  -->
                    <div class="package-plan">
                        <img src="<%= '/static/uploads/'+futurecompetition[i].PIC %>" style="width: 100%; height: 180px;">
                        <div class="caption"><h5><%= futurecompetition[i].TITLE %></h5></div>
                        <div class="ca-price d-flex justify-content-center">
                        </div>
                    </div>
                    <div class="package-description">
                        
                        <p><i class="fa fa-inr"></i> 30 For Registration</p>
                        <p class="timee" data-cap="<%= futurecompetition[i].START_TIME%>"  id="<%= futurecompetition[i].ID %>" data-ayid="<%= futurecompetition[i].ID %>" ></p>
                        <!-- <p><i class="fa fa-hourglass-start"></i>From: <%= ' '+futurecompetition[i].START_TIME.toString().substring(4,24) %></p> -->
                        <p><i class="fa fa-hourglass-end"></i>To: <%= ' '+futurecompetition[i].END_TIME.toString().substring(4,24) %></p>
                        <p><i class="fa fa-trophy"></i> &nbsp;&nbsp; WIN <%= '   '+futurecompetition[i].PRIZE %> </p>
                        <p><i class="fa fa-user"></i>Max. Participants <%= ' '+futurecompetition[i].LIMITUSER %> </p>
                    </div>
                    <!-- Plan Button  -->
                    <% if(currentUser) { %>
                        <% var flag=false; %>
                        <% for(j in regist) { %>
                            <% if(regist[j].COMPETITION_ID==futurecompetition[i].ID) { %>
                                <% flag=true; %>
                            <% } %>
                        <% } %>
                        <% if(flag) {%>
                            <div class="plan-button">
                            <a href="#" class="registerme" data-cap="<%= futurecompetition[i].ID %>" style="color:oldlace; " >Regsitered </a>
                        </div>
                        <% } else { %>
                            <div class="plan-button">
                            <a href="#" class="registerme" data-cap="<%= futurecompetition[i].ID %>" id="<%= 'myid'+futurecompetition[i].ID %>" >Regsiter Now </a>
                        </div>
                        <% } %>
                    <% } else { %>
                    <div class="plan-button">
                        <a href="#" class="registerme" data-cap="<%= futurecompetition[i].ID %>" data-toggle="modal" data-target="#modalLRForm" >Login To Register</a>
                    </div>
                    <% } %>
                </div>
            </div>

<% } %>


        </div>
    </div>
</section>



<section class="pricing-plane-area section_padding_100_70 clearfix" style="background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%); ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading Text  -->
                    <div class="section-heading ">
                        <img class="myhead" src="/static/images/c1.png" alt ="no img" style="width: 8% ;height: 8%"><span style="font-size: 200%;color: white;"> &nbsp;&nbsp;&nbsp;&nbsp; Past Competitions</span>
                    </div>
                </div>
            </div>
    
    
            <!--   yahaan contest waale card-->
            <div class="row no-gutters">
    
    <% for(i in pastcompetition) { %>
    
    
                <div class="col-12 col-md-6 col-lg-3 mycard">
                    <!-- Package Price  -->
                    <div class="single-price-plan text-center">
                        <!-- Package Text  -->
                        <div class="package-plan">
                            <img src="<%= '/static/uploads/'+pastcompetition[i].PIC %>" style="width: 100%; height: 180px;">
                            <div class="caption"><h5><%= pastcompetition[i].TITLE %></h5></div>
                            <div class="ca-price d-flex justify-content-center">
                            </div>
                        </div>
                        <div class="package-description">

                            <p class="timee" data-cap="<%= pastcompetition[i].START_TIME%>"  id="<%= pastcompetition[i].ID %>"  data-ayid="<%= pastcompetition[i].ID %>" ></p>
                            <!-- <p><i class="fa fa-hourglass-start"></i>From: <%= ' '+pastcompetition[i].START_TIME.toString().substring(4,24) %></p> -->
                            <p><i class="fa fa-hourglass-end"></i>To: <%= ' '+pastcompetition[i].END_TIME.toString().substring(4,24) %></p>
                            <p><i class="fa fa-trophy"></i> &nbsp;&nbsp; WIN <%= '   '+pastcompetition[i].PRIZE %> </p>
                            <p><i class="fa fa-user"></i>Max. Participants <%= ' '+pastcompetition[i].LIMITUSER %> </p>
                        </div>
                        <!-- Plan Button  -->
                        <div class="plan-button">
                            <% if  ((this.currentUser) &&(pastcompetition[i].COORDINATOR_ID==this.currentUser.ID || this.currentUser.ID==1)) { %>
                            <a href="#" class="winnerModalTrigger" data-cap="<%= pastcompetition[i].ID %>" data-toggle="modal" data-target="#winnerModal" >Update Winners..!!</a>
                            <% } else { %>
                            <a href="#">See Winners..!!</a>
                            <% } %>
                        </div>
                    </div>
                </div>
    
    <% } %>
    
    
            </div>
        </div>
    </section>


<script>
$(document).ready(function(){

    $('.winnerModalTrigger').click(function(){
        var contestId=$(this).attr('data-cap');
    $('#winnerModalBtn').attr('data-cap',contestId);
        $.post('/api/getplayer',{contestId:contestId},function(data,status){
            console.log(data);
                $('#win1').find('option').remove();
                $('#win2').find('option').remove();
                $('#win3').find('option').remove();
                $('#win1').append('<option value="0">Select First Winner</option>');
                $('#win2').append('<option value="0">Select Second Winner</option>');
                $('#win3').append('<option value="0">Select Third Winner</option>');
                for( i in data){
                    $('#win1').append('<option value="'+data[i].id+'">'+data[i].name+'</option>');
                    $('#win2').append('<option value="'+data[i].id+'">'+data[i].name+'</option>');
                    $('#win3').append('<option value="'+data[i].id+'">'+data[i].name+'</option>');
                }
                
        });
    });

    $('#winnerModalBtn').click(function(){
        var contestId=$(this).attr('data-cap');
        $.post('/api/updateWinner',{winner1:$('#win1').val(),winner2:$('#win2').val(),winner3:$('#win3').val(),contestId:contestId},function(data,status){
            if(data.flag==1) console.log('Winners Updated');
        
        })
    });



    $('.registerme').click(function(evt){
        var id=$(this).attr('data-cap');
        $.post('/api/registerme',{id:id},function(data,status){
            console.log(data);
            if(data.flag==1){
              $('#myid'+evt.target.getAttribute('data-cap')).html('Registered..!!');
            }
        });
    });

    // $('.timee').html(new Date);
    // console.log($('.timee').attr('data-cap'));
    // console.log(new Date());
    // console.log((new Date($('.timee').attr('data-cap'))-new Date().getTime()));
    var myarray=$('.timee');
   // console.log(myarray);

    function setdate(abc){
        //console.log(abc);
        var alpha;
        var myID;
        var alpha=abc.getAttribute('data-cap');
        var myID='#'+abc.getAttribute('data-ayid');
        var countDownDate=new Date(alpha);
       //countDownDate=0; 
       var now = new Date().getTime();
        var distance =  countDownDate-now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    if(distance<0) {
        //abc.html('Expired');
        $(myID).html('Expired');
        console.log('expired');
    }
    else{
        //abc.html(days+' Days '+hours+' Hours '+minutes+' Min '+seconds+' Secs ');
        $(myID).html(days+'  Days  '+hours+'  Hours  '+minutes+'  Min  '+seconds+'  Secs  ');
        console.log(days+'  Days  '+hours+'  Hours  '+minutes+'  Min  '+seconds+'  Secs  ');
    }
    }
    for (i in myarray)        
     {
       try{ setInterval(setdate(myarray[i]),1000); }
       catch(e) { console.log(e); }
    }
    // setInterval(setdate,1000);

});

</script>

<!-- ***** Pricing Plane Area End ***** -->
        <% include footer.html %>
</body>
</html>