<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

 

  <style>

      .card_one {
       box-shadow: 0px 0px 0px whitesmoke;
       transition-duration: 0.6s;
        -webkit-transition:  box-shadow .1s ease-out;
           box-shadow: .8px .9px 3px whitesmoke;
      
      }
      .card_one:hover{ 
           box-shadow: 4px 8px 25px #17a2b8;
          -webkit-transition:  box-shadow .1s ease-in;
        }
        .truncate {
        width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
      div.relative {
    position: relative;
    left: 300px;
    
}



    body {
padding-top: 0px;
}
ul > li{
  width: 25%;
}

.starter-template {

text-align: center;
}
@media only screen and (max-width:600px){
ul >li > a{
  text-align: center;
}
}
ul >li > a{
  color: white;
}

</style>
<% include header.html %>
</head>


<body>
    
    <% if(currentUser){ %>
    <section class="section_padding_100" id="about" style=" background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
    
<div class="container " style="padding-top: 2%;">
  <h2 class="text-light">Dashboard</h2>
  <br>
   <ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
    <li class="nav-item"> <a class="nav-link active" data-toggle="pill" href="#myprofile" role="tab" aria-controls="myprofile" aria-selected="true">My Profile</a></li>
    
    
    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#changepwd" role="tab" aria-controls="changepwd" aria-selected="false">Change Password</a></li>
    
    
    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#myactivity" role="tab" aria-controls="myactivity" aria-selected="true">My Activity</a></li>
    
    <% if (currentUser) {%> 
    <li class="nav-item"><a class="nav-link" data-toggle="pill" href="#myproducts" role="tab" aria-controls="myproducts" aria-selected="false">My Paintings</a></li>
  <% } %>
  </ul>
  
  
  <div class="tab-content" id="pills-tabContent">
    <div id="myprofile"  class="tab-pane fade show active" role="tabpanel" aria-labelledby="myprofile">
      
<div class="container" style="padding-top: 20px;">
  <h1 class="page-header text-light">My Profile</h1>




  
  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-8">
      <div class="text-center"><form class="form-horizontal" role="form" action="/app/editprofile" method="post" enctype="multipart/form-data">

  

        <% if( currentUser.PIC) { %>
          <img  class="myImg" src="<%= '/static/uploads/'+currentUser.PIC %>" style=" height: 200px; width: 200px; border-radius: 100px" alt="avatar" >
          <!-- <img class="rounded-circle" src="<%= '/static/uploads/'+currentUser.PIC %>" alt="NO IMAGE"> -->
          <% } else { %>
            <img  class="myImg" src="/static/images/avatar.png" style=" height: 200px; width: 200px; border-radius: 100px" alt="avatar" >
              <!-- <img class="rounded-circle" src="/static/images/avatar.png" alt="NO IMAGE" style="height: auto;width: auto;"> -->
         
            <% } %>

        <h6 class="text-light" >Change Profile Picture</h6>
        <input type="file" class="center-block well well-sm form-control newimg" name="img">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      

      <h3>Personal info</h3>
        <div class="form-group">
          
          <div class="col-lg-8">
            <input class="form-control newname" placeholder="Name: <%= currentUser.NAME %>" value=""  name="name" type="text">
          </div>
        </div>
        <div class="form-group">
          
          <div class="col-lg-8">
            <input class="form-control newphone" placeholder="Mobile No.: <%= currentUser.MOBILE %>" required value =""  name="mob" type="text">
          </div>
        </div>
        <div class="form-group">
          
          <div class="col-lg-8">
            <input class="form-control newemail" placeholder="email: <%= currentUser.EMAIL %>" value="" name="user_email" type="email">
          </div>
        </div>   

       
        <div class="form-group">
            <span class="msg text-light ml-4"></span>
          <label class="col-md-3 control-label"></label>
          
          <div class="col-md-8">
            <input class="btn btn-default" value="Reset" type="reset">
            <span></span>
            
            <input class="btn btn-primary save_changes" value="Save Changes" data-cap="<%= currentUser.ID %>" type="button">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
    </div>



    <div id="changepwd" class="tab-pane fade">
    <div class="container " style="padding-top: 20px;">
     
     <div class="row " align="center">
        <div class="relative">
            <h3 class="page-header" align="center">Change Password</h3>
            </div>
          
       <div class="col-sm-12 personal-info" style="width:100%;" align="center">
         <div class="alert alert-info alert-dismissable" id="err_change">
           <a class="panel-close close" data-dismiss="alert">×</a> 
           <i class="fa fa-coffee"></i>
           Please Enter Same <strong>Password</strong>
         </div>
         
         <form class="form-horizontal" role="form" id="change_pwd_form" method="POST">

           <!-- <div class="form-group">
             
             <div class="col-lg-6">
               <input class="form-control" placeholder="Mobile No.: " value="" id="mobc" name="mob" type="text">
             </div>
           </div> -->

           <div class="form-group">
               
               <div class="col-lg-6">
                 <input class="form-control" placeholder="Current Password: " value="" name="password" id="pwd1" type="password">
               </div>
             </div>
           <div class="form-group">
             
             <div class="col-lg-6">
               <input class="form-control" placeholder="New Password: " value="" name="psw" type="password" id="pwd2">
             </div>
           </div>
           <div class="form-group">
             
             <div class="col-lg-6">
               <input id="pwd3" class="form-control" placeholder="Confirm password: " value="" name="psw_repeat" type="password">
             </div>
           </div>
           <div class="form-group">
             <label class="col-lg-3 control-label"></label>
             <div class="col-lg-8">
              <input class="btn btn-default" value="Reset" type="reset">
               <span></span>
               <input class="btn btn-primary changepwdBtn" value="Change Password" type="button">
              
             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
      </div>

<div id="myactivity" class="tab-pane fade" role="tabpanel" aria-labelledby="myactivity">
<h3>My Activity</h3>
     <div class="container row">
<% for(i in pastactivity){ %>
  <div class="col-12 col-md-6 col-lg-3 mycard">
      <!-- Package Price  -->
      <div class="single-price-plan text-center ptr">
          <!-- Package Text  -->
          <div class="package-plan">
                  <div class="caption"><h5><%= pastactivity[i].TITLE %></h5></div>
              <img src="<%= '/static/uploads/'+pastactivity[i].PIC %>" style="width: 100%; height: 180px;">
              
              <div class="ca-price d-flex justify-content-center">
              </div>
          </div>
          <div class="package-description">
              <!-- yahaan aayega timer-->
              <!-- <p><i class="fa fa-hourglass-start"></i>From: <%= ' '+pastactivity[i].START_TIME.toString().substring(4,24) %></p>
              <p><i class="fa fa-hourglass-end"></i>To: <%= ' '+pastactivity[i].END_TIME.toString().substring(4,24) %></p> -->

              <p><i class="fa fa-trophy"></i> &nbsp;&nbsp; <%= '   '+pastactivity[i].PRIZE %> </p>
          </div>
          <!-- Plan Button  -->
          <!-- <div class="plan-button">
              <a href="/app/competition">Regsiter Now </a>
          </div> -->
      </div>
  </div>
<% } %>
</div>     
</div>

<div id="myproducts" class="tab-pane fade" role="tabpanel" aria-labelledby="myproducts">
    <h3>My Paintings</h3>
    <div class="container">
        <div class="row">
                <% for(i in mypaintings){ %>
                 
                        <div class="meracard col-lg-4 col-md-4 col-xs-6 mb-3 mt-3 thumb view overlay zoom">
                            
                                <img  src="<%= '/static/uploads/'+mypaintings[i].PIC %>" data-cap="<%= mypaintings[i].TITLE %>"  data-toggle="modal" data-target="#sideModalTLInfo" class="zoom img-fluid img-thumbnail waves-effect waves-light scale-down imgclass"  alt="">
                        
                        </div>
                 
                <% } %> </div> </div>   
    </div>

</section>
<% } %>
<% include footer.html %>

<script>
$(document).ready(function(){

$.post('/api/islogin',{},function(data,status){
if(data.flag==0)
window.location='/app/home';
});



$('.changepwdBtn').click(function(){
  var id=$('.save_changes').attr('data-cap');
var pwd1=$('#pwd1').val();
var pwd2=$('#pwd2').val();
var pwd3=$('#pwd3').val();
$.post('/api/changepwd2',{pwd1:pwd1,pwd2:pwd2,pwd3:pwd3,id:id},function(data,status){
  if(data.flag==1){

  }
  else{

  }
});
});





  $('.save_changes').click(function(){
    var fd=new FormData($('form')[0]);
    var name=$('.newname').val();
    var phone=$('.newphone').val();
    var email=$('.newemail').val();
    var files = $('.newimg')[0].files[0];

    fd.append('pic',files);

    var id=$(this).attr('data-cap');
    $.ajax({
    url : "/api/updateValues",
    type: "POST",
    data : fd,
    processData: false,
    contentType: false,
    success:function(data, textStatus, jqXHR){
      console.log('final');
      $('.msg').html('Changes Saved Successfully');
      $.post('/api/islogin',{},function(data,status){
      if(data.flag==1){
        $('.myImg').attr('src','/static/uploads/'+data.pic);
        $('.mylogout').html('Hi, '+data.name);
        $('.msg').html('Changes Saved Successfully');
        console.log(data.pic);
      }
    });
    }
    });

    $.post('/api/updateValues2',{name:name,phone:phone,email:email},function(data,status){
      if(data.flag==1){
        console.log('data-changed');
        $('.mylogout').html('Hi, '+data.user.NAME);
      }
      else{
        console.log('data not changed');
      }
    });

    // $.post('/api/updateValues',{name:name,phone:phone,email:email,id:id,fd:fd},function(data,status){
    //   if(data.flag==1){
    //     $('.msg').html('Changes Updates Successfully');
    //   }
    // });
  
  });


});

</script>
 </body>

</html>

