<!DOCTYPE html>
<html lang="en">
<head>
<% include header.html %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<style>
    section{
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    }
    #cardd{
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
        height: 90%;
        margin: 0% 10%;
    }

    .meracard{
        cursor: pointer;
    }



    #modalkabutton{
        background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
        color: white;
    }

    .picbtn{
        background-color: #fb397d;
        color: white;
        width: auto;
        border-radius:24px 24px 24px 0px;
    }
    .picbtn:hover{
        color: #fb397d;
        background-color: white;
        border-radius: 24px 24px 24px 0px;
    }

body.modal-open {
    overflow: hidden;
}   
.imgclass {
            filter: none; /* IE6-9 */
      -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
      margin-bottom:20px;
      box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);

    }
    
    .meracard > .imgclass:hover {

       filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
        -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);

   
     
    }
   
    .scale-down {object-fit: scale-down;}
</style>
</head>

<body>
        

    <!-- ***** Special Area Start ***** -->
    <section class="section_padding_100" id="about" style="background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Section Heading Area -->
                        <div class="section-heading text-center">
                            <h2 style="color:#b7b7ff">GLA Exhibition Of Modern Art
                                    <% if(currentUser){ %>  
                                        <% if(currentUser.ROLE_ID <=3) { %>
                                       <span class="text-center float-right">
                                           <a href="" class="btn uploadBtn"  data-toggle="modal" data-target="#exhibitionModal">Upload Photo</a>
                                       </span> <% } }%>
                            </h2>
                            <div class="line-shape"></div>
                        </div>
                    </div>
                </div>

                <!-- sgd     -->
<div class="container">
    <div class="row">
            <% for(i in gallery){ %>
                
             <div class="meracard col-lg-4 col-md-6 col-xs-6 mb-3 mt-3 thumb view overlay zoom">
                            <img  src="<%= '/static/uploads/'+gallery[i].PIC %>" data-cap="<%= gallery[i].ID%>"data-toggle="modal" data-target="#particularimage" class="zoom img-fluid img-thumbnail waves-effect waves-light scale-down imgclass" style="height: 13rem;width: 20rem" alt="">
                     </div>
                     
            <% } %> </div> </div>
<!-- yahaan loop khatam hoga -->



                </div>
            
            <!-- Special Description Area -->
            <!-- <div class="special_description_area mt-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="special_description_img">
                                <img src="/static/styles/img/bg-img/special.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-5 ml-xl-auto">
                            <div class="special_description_content">
                                <h2>Our Best Propositions for You!</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <div class="app-download-area">
                                    <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                                         Google Store Btn -->
                                        <!--
                                        <a href="#">
                                            <i class="fa fa-android"></i>
                                            <p class="mb-0"><span>available on</span> Google Store</p>
                                        </a>
                                    </div>
                                    <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s">
                                         Apple Store Btn -->
                                  <!--      <a href="#">
                                            <i class="fa fa-apple"></i>
                                            <p class="mb-0"><span>available on</span> Apple Store</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->



<!-- exhibiton add karne ke liye modal-->

<div class="modal fade" id="exhibitionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <form method="POST" action="/app/addExhibition" enctype="multipart/form-data">
        <div class="modal-content form-elegant">
            <!--Header-->
            <div class="modal-header text-center" style="background: #005C97;
            background: -webkit-linear-gradient(to top, #363795, #005C97);
            background: linear-gradient(to top, #363795, #005C97);">
                <h3 class="modal-title w-100 white-text font-weight-bold my-3" id="myModalLabel"><strong>Add A Photo</strong></h3>
                <button type="button" class="close" style="color: white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body mx-4">
                <!--Body-->
                <div class="md-form mb-5">
                        <input type="file" class="form-control  validate" name="pic">
                </div>
                <div class="md-form mb-5">
                        <label for="">Enter pic amount</label>
                    <input type="text" class="form-control validate"  name="amount" placeholder="AMOUNT" >
                </div>
                <div class="md-form mb-5">
                    <input type="text" class="form-control validate"  name="title" placeholder="TITLE" >
                </div>
                <div class="md-form mb-5">
                        <input type="text" class="form-control validate"  name="size" placeholder="SIZE" >
                    </div>

                <div class="text-center mb-3">
                    <button type="submit" class="btn  btn-rounded "  style="background: #005C97;
                    background: -webkit-linear-gradient(to top, #363795, #005C97);
                    background: linear-gradient(to top, #363795, #005C97);" id="modalkabutton" >Upload</button>
                </div>

            </div>
            <!--Footer-->
        </div>
        </form>
        

        <!--/.Content-->
    </div>
</div>




<!-- End here-->





<!-- yaha pe aayega buy wala modal jo ki notepad me pada hua hai -->




<!-- BUY wala modal hai ye -->


            <div class="modal fade" id="particularimage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered " role="document">
                        <!--Content-->
                        <form method="POST" action="addpic" enctype="multipart/form-data">
                        <div class="modal-content form-elegant">
                            <!--Header-->
                            <div class="modal-header text-center" style="background: #005C97;
                            background: -webkit-linear-gradient(to top, #363795, #005C97);
                            background: linear-gradient(to top, #363795, #005C97);">
                                <h3 class="modal-title w-100 white-text font-weight-bold my-3 mytitle" id="myModalLabel"><strong></strong></h3>
                                <button type="button" class="close" style="color: white" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!--Body-->
                            <div class="modal-body mx-4">
                                <!--Body-->
                                <div class="text-center mb-3 view overlay zoom waves-effect waves-light">
                                        <img src="noimg" class="eximg form-data img-fluid img-thumbnail scale-down" alt="Error" style="width: 45rem;height: 22rem;">
                                    </div>
                                    <h2 style="text-align: center;" class="exprice" ></h2>
                                    <h2 style="text-align: center;" class="exsize" ></h2>
                                    <p style="text-align: center;" >
                                    <font style="color: black;" >
                                        <!-- Tag:&nbsp; -->
                                    </font>
                                    <font style="color: blue;" class="extag">

                                    </font>
                                   </p>

                                <div class="text-center mb-3">
                                    <button type="button" class="butBtn btn btn-lg" style="background: #005C97;
                                    background: -webkit-linear-gradient(to top, #363795, #005C97);
                                    background: linear-gradient(to top, #363795, #005C97)" id="">BUY</button>
                                </div>
                
                            </div>
                            <!--Footer-->
                        </div>
                        </form>
                        
            
                        <!--/.Content-->
                    </div>
                </div>






               <!-- previous modal in  test 1  -->
            <!-- Modal -->
<div class="modal fade" id="artistModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >

    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">


        <div class="modal-content" >
            <div class="modal-header" style="background: #005C97;
            background: -webkit-linear-gradient(to top, #363795, #005C97);
            background: linear-gradient(to top, #363795, #005C97);">
                <h4 class="modal-title" id="exampleModalLongTitle" style="color: white">Artist</h4>
                <button type="button" class="close" style="color: white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">    
                <label class="aname h4" ><i class="fas fa-user"></i>  Artist name:  </label><hr>
                <br>
                <label class="aphone h4" ><i class="fas fa-phone"></i> Artist mobile:</label><hr>
                <br>
                <label class="aemail h4" ><i class="fas fa-envelope"></i> Artist email:     </label>
                <br><br>
                <label class="h4" ><i class="fas fa-phone"></i> Please Contact Above Person to BUY this PICTURE</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn " style="background: #005C97;
                background: -webkit-linear-gradient(to top, #363795, #005C97);
                background: linear-gradient(to top, #363795, #005C97);" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>




<!-- For uploading Our own art-->

<!-- artist ke liye MODAL-->











        </section>
        <!-- ***** Special Area End ***** -->
    <% include footer.html %>

    <script>
    $(document).ready(function(){

        $('.butBtn').click(function(){
            $('#particularimage').modal('toggle');
            $('#artistModal').modal();
            $.post('/api/getartist',{id:$('#modalkabutton').attr('data-cap')},function(data,status){
                console.log(data,status);
                $('.aname').html($('.aname').html()+data.data.NAME);
                $('.aphone').html($('.aphone').html()+data.data.MOBILE);
                $('.aemail').html($('.aemail').html()+data.data.EMAIL); 
            });
        });


        $('.meracard').click(function(evt){
            $('#particularimage').modal();
          //  $('.eximg').attr('src',evt.target.getAttribute('src'));
          var aid=evt.target.getAttribute('data-cap');
          if(aid==null){
              aid=$(this).find('img').attr('data-cap');
          }
          if(aid==null){
              aid=$(this).find('div').find('img').attr('data-cap');
              
          }
          console.log(aid+"-------------------------------------- ");
            $.post('/api/getart',{aid:aid},function(data,status){
                console.log(data);
                $('.exprice').html('Price: '+data.data.AMOUNT);
                $('.eximg').attr('src','/static/uploads/'+data.data.PIC);
                $('.exsize').html('Size: '+data.data.size);
                $('#modalkabutton').attr('data-cap',data.data.ID);
                $('.mytitle').html(data.data.TITLE);
                // var myStr=data.data.TAG.split(' ');
                // for(i in myStr){
                //     $('.extag').html($('.extag').html()+myStr[i]);
                // }
            });
        });
    });
    </script>
</body>

</html>
