    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
            <h2>GGMA</h2>
        </div>
        <!-- social icon-->
        <div class="footer-social-icon">
            <a href="https://www.facebook.com/Gla-Gallery-Of-Modern-Art-258704584734695/?modal=admin_todo_tour
"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="active fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="#"><i class="active fa fa-google-plus" aria-hidden="true"></i></a>
        </div>
        <div class="footer-menu">
            <nav>
                <ul>
                    <li><a href="#features">About</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact</a></li>  
                </ul>
            </nav>
        </div>
        <!-- Foooter Text-->
        <div class="copyright-text">
            <!-- ***** Removing this text is now allowed! This template is licensed under CC BY 3.0 ***** -->
            <p>Copyright ©2018 GGMA Designed by <a href="#" target="_blank">GGMA</a></p>
        </div>
    </footer>
    <!-- ***** Footer Area Start ***** -->

    <!-- Jquery-2.2.4 JS -->
    <script src="/static/styles/js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/styles/js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="/static/styles/js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
     <script src="/static/styles/js/plugins.js"></script>  
    <!-- Slick Slider Js-->
    <script src="/static/styles/js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="/static/styles/js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="/static/styles/js/active.js"></script>