<!DOCTYPE html>
<html lang="en">
<head>
<% include header.html %>

<style>
    section{
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    }
    #cardd{
        background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
        height: 90%;
        margin: 0% 10%;
    }





    #modalkabutton{
        background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
        color: white;
    }

    .picbtn{
        background-color: #fb397d;
        color: white;
        width: auto;
        border-radius:24px 24px 24px 0px;
    }
    .picbtn:hover{
        color: #fb397d;
        background-color: white;
        border-radius: 24px 24px 24px 0px;
    }
    .meracard:hover{
        cursor: pointer;
    }

        section{
        background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
        }
        #cardd{
            background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
            height: 90%;
            margin: 0% 10%;
        }
    
    
       
       img.zoom {
        width: 250px;
        height: 200px;
        
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
    }
            
     
    .transition {
        -webkit-transform: scale(1.2); 
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    
    
        #modalkabutton{
            background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
            color: white;
        }
    
        .picbtn{
            background-color: #fb397d;
            color: white;
            width: auto;
            border-radius:24px 24px 24px 0px;
        }
        .picbtn:hover{
            color: #fb397d;
            background-color: white;
            border-radius: 24px 24px 24px 0px;
        }
     .imgclass {
            filter: none; /* IE6-9 */
      -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
      margin-bottom:20px;
      box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);

    }
    
    .meracard > .imgclass:hover {

       filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
        -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);

   
     
    }
    .ho{
       
       shadow:5rem cyan;
    }
    .ho:hover{
        background-color: #00c6fb;
            color: white;
            
    }
    .scale-down {object-fit: scale-down;}
    </style>




</head>

<body>
        

    <!-- ***** Special Area Start ***** -->
    <section class="section_padding_100" id="about" style=" background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Section Heading Area -->
                        <div class="section-heading text-center">
                            <h2 style="color:#b7b7ff">GLA Gallery Of Modern Art
                                    <% if(currentUser){ %>  
                                 <% if(currentUser.ROLE_ID <= 2) { %>
                                <span class="text-center float-right">
                                    <a href="" class="btn uploadBtn"  data-toggle="modal" data-target="#elegantModalForm">Upload Photo</a>
                                </span> <% } }%>
                            </h2>
                            <div class="line-shape"></div>
                        </div>
                    </div>
                </div>
    
                




<!-- yahaan fir ka loop -->

<div class="container">
<div class="row">
        <% for(i in gallery){ %>
         
                <div class="meracard col-lg-4 col-md-6 col-xs-6 mb-3 mt-3 thumb view overlay zoom">
                    
                        <img  src="<%= '/static/uploads/'+gallery[i].PIC %>" id="<%= gallery[i].ID %>" data-cap="<%= gallery[i].DES %>"  data-toggle="modal" data-target="#sideModalTLInfo" class="zoom img-fluid img-thumbnail waves-effect waves-light scale-down imgclass" style="height: 13rem;width: 20rem"  alt="">
                
                </div>
         
        <% } %> </div> </div>

<!-- yahaan loop khatam hoga -->
  </div>
            
            <!-- Special Description Area -->
            <!-- <div class="special_description_area mt-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="special_description_img">
                                <img src="/static/styles/img/bg-img/special.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-5 ml-xl-auto">
                            <div class="special_description_content">
                                <h2>Our Best Propositions for You!</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                                <div class="app-download-area">
                                    <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                                         Google Store Btn -->
                                        <!--
                                        <a href="#">
                                            <i class="fa fa-android"></i>
                                            <p class="mb-0"><span>available on</span> Google Store</p>
                                        </a>
                                    </div>
                                    <div class="app-download-btn wow fadeInDown" data-wow-delay="0.4s">
                                         Apple Store Btn -->
                                  <!--      <a href="#">
                                            <i class="fa fa-apple"></i>
                                            <p class="mb-0"><span>available on</span> Apple Store</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->



            <div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <!--Content-->
                        <form method="POST" action="/app/addpic" enctype="multipart/form-data">
                        <div class="modal-content form-elegant">
                            <!--Header-->
                            <div class="modal-header text-center" style="background: #005C97;
                            background: -webkit-linear-gradient(to top, #363795, #005C97);
                            background: linear-gradient(to top, #363795, #005C97);">
                                <h3 class="modal-title w-100 white-text font-weight-bold my-3" id="myModalLabel"><strong>Add A Photo</strong></h3>
                                <button type="button" class="close" style="color: white" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!--Body-->
                            <div class="modal-body mx-4">
                                <!--Body-->
                                <div class="md-form mb-5">
                                        <input type="file" class="form-control  validate" name="pic">
                                    </div>
                                <div class="md-form mb-5">
                                    <input type="text" class="form-control validate"  name="description" placeholder="About pic" >
                                </div>
                
                
                                <div class="text-center mb-3">
                                     <button type="submit" class="btn  btn-rounded "  style="background: #005C97;
                                    background: -webkit-linear-gradient(to top, #363795, #005C97);
                                    background: linear-gradient(to top, #363795, #005C97);" id="modalkabutton" >Upload</button>
                                </div>
                
                            </div>
                            <!--Footer-->
                        </div>
                        </form>
                        
            
                        <!--/.Content-->
                    </div>
                </div>




                <div class="modal fade center" id="sideModalTLInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-notify modal-info" role="document">
                        <!--Content-->
                        <div class="modal-content">
                            <!--Header-->
                            <div class="modal-header" style="background: #005C97;
                            background: -webkit-linear-gradient(to top, #363795, #005C97);
                            background: linear-gradient(to top, #363795, #005C97);">
                                <p class="heading lead mytitle" ></p>
                
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                </button>
                            </div>
                
                            <!--Body--> 
                            <div class="modal-body">
                                <div class="view overlay zoom waves-effect waves-light">
                                <img src="noimg" alt="" class="img-fluid img-thumbnail galimg scale-down" style="width: 45rem;height: 22rem;">
                                    </div>
                              </div>
                
                            <!--Footer-->
                            <div class="modal-footer justify-content-center" >
                                                                <button type="button" class="btn waves-effect" data-dismiss="modal" style="background: #005C97;  /* fallback for old browsers */
                                                                background: -webkit-linear-gradient(to top, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
                                                                background: linear-gradient(to top, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                                                                 border-radius: 10rem;
                                ">OK</button>

<% if(currentUser && currentUser.ROLE_ID==1){ %>

                                <form method="POST" action="/app/deleteGallery">
                                        <button type="submit" name="myId" value=""  id="myformBtn" class="btn" style="background: rgb(228, 60, 9);  /* fallback for old browsers */
                                        background: -webkit-linear-gradient(to top, #e23c0a, rgb(211, 15, 113));  /* Chrome 10-25, Safari 5.1-6 */
                                        background: linear-gradient(to top, #f5069d, rgb(223, 11, 205)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                                         border-radius: 10rem;
        ">Delete</button>
                                </form>
                                <% } %>
                            </div>
                        </div>
                        <!--/.Content-->
                    </div>
                </div>
                <!-- Central Modal Medium Info-->
                
             


        </section>




        <!-- Modal Ka  code-->

        <!-- Modal -->

    <!-- Modal -->
    



        <!-- ***** Special Area End ***** -->
    <% include footer.html %>
<script>
    $(document).ready(function(){


        $('.meracard').click(function(evt){
            $('#galleryModal').modal();
            var aid=evt.target.getAttribute('src');
            var title=evt.target.getAttribute('data-cap');
            var pid=evt.target.getAttribute('id');
          if(aid==null){
              aid=$(this).find('img').attr('src');
              title=$(this).find('img').attr('data-cap');
               pid==$(this).find('img').attr('id');
          }
          if(aid==null){
              aid=$(this).find('div').find('img').attr('src');
              title=$(this).find('div').find('img').attr('data-cap');
               pid=$(this).find('div').find('img').attr('id');
          }
            $('.galimg').attr('src',aid);
            $('.mytitle').html(title);
            $('#myformBtn').val(pid);
        });


        //  $('.galimg').mouseout(function(evt){
        //      console.log('ye to chala');
        //     $('#galleryModal').modal('toggle');
        // });
    });
</script>
<style>
    .uploadBtn{
        border-width: 1px;
        border-color:#005C97;
    }
    .uploadBtn:hover{
        color: white;
        background-color: tomato;
    }
</style>
</body>

</html>