

<!DOCTYPE html>
<body>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
     <title>GGMA-GLA Gallery Of Modern Art</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="/static/styles/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link href="/static/styles/style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="/static/styles/css/responsive.css" rel="stylesheet">
    <link href="/static/styles/css/modal.css" rel="stylesheet">

   
    <style>
    .navbar-toggler{
        cursor: pointer;
    }


    #homeimg{
        width: 36%;
        height: 32%;
        display: inline;
    }
    @media only screen and (max-width: 1000px) {
    #homebar{
        width: 75%;
    }
}
    </style>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
        <a id="leftmodal" data-toggle="modal" data-target="#Modalleft"></a>
        <a id="rightmodal" data-toggle="modal" data-target="#Modalright"></a>
        <body onload="document.getElementById('leftmodal').click();
        document.getElementById('rightmodal').click();">


    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated  ">
            <div class="row align-items-center " style="-moz-window-shadow: 0rem">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10" >
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-dark" style="box-shadow: none;">
                            <!-- Logo -->
                            <a class="navbar-brand" href="/app/home" id="homebar" >
                            <!-- <img src="/static/styles/img/gmma.png" id="homeimg"  alt="No Image" > -->
                            GGMA
                            
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"  ></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class=""><a class="nav-link" href="/app/home">Home</a></li>

                                    <% if(currentUser){ %>
                                    <li class="" ><a class="nav-link" href="/app/dashboard">Dashboard</a></li>
                                        <% } %>


                                    <li class=""><a class="nav-link" href="/app/gallery">Gallery</a></li>
                                    <li class=""><a class="nav-link" href="/app/exhibition">Exhibition</a></li>
                                    <li class=""><a class="nav-link" href="/app/competition">Contest</a></li>
                                    <!-- <li class=""><a class="nav-link" href="#testimonials">Testimonials</a></li>
                                    <li class=""><a class="nav-link" href="#team">Team</a></li>
                                    <li class=""><a class="nav-link" href="#contsact">Contact</a></li> -->
                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <% if(currentUser) {%>
                                        <a href="" class="mylogout" ><%=  'Hi,  '+currentUser.NAME %></a>
                                        <% } else { %>
                                    <a href="" class="mylogout" data-toggle="modal" data-target="#modalLRForm" >Sign Up Free</a>
                                    <% } %>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">

                            <% if(currentUser) {%>
                                <a href="" class="mylogout" ><%=  'Hi,  '+currentUser.NAME %></a>
                                <% } else { %>
                                    <a href="" class="mylogout" data-toggle="modal" data-target="#modalLRForm" >Sign Up Free</a>
                            <% } %>

                        
                    </div>
                </div>
            </div>
        
    </header>







        <!--Modal: Login / Register Form-->
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document" >
            <!--Content-->
            <div class="modal-content" style="background-image: url(/static/images/usr.png);">
    
                <!--Modal cascading tabs-->
                <div class="modal-c-tabs">
    
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tabs-2 light-blue darken-3" role="tablist">
                        <li class="nav-item" style="background: #0f0c29;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        ">
                            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fa fa-user mr-1"></i> Login</a>
                        </li>
                        <li class="nav-item" style="background: #0f0c29;  /* fallback for old browsers */
                        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
                            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fa fa-user-plus mr-1"></i> Register</a>
                        </li>
                    </ul>
    
                    <!-- Tab panels -->
                    <div class="tab-content" >
                        <!--Panel 7-->
                        <div class="tab-pane fade in show active" id="panel7" role="tabpanel" >
                            <!-- <form method="POST" action="/app/login"> -->
                            <!--Body-->
                            <div class="modal-body mb-1" >
                                    <div class="alert alert-danger" id="chek" role="alert" style="display: none;">
                                            Invalid UserName or Password
                                          </div>
                                <div class="md-form form-sm mb-5" style="color: black">
                                    <i class="fa fa-user prefix" style="color: black"></i>
                                    <input type="text"  name="email" id="modalLRInput10" class="form-control form-control-sm validate" style="color: black">
                                    <label data-error="wrong" data-success="right" for="modalLRInput10" style="color: black; font-weight:500">Your Email</label>
                                </div>
                                
    
                                <div class="md-form form-sm mb-4"  style="color: black">
                                    <i class="fa fa-lock prefix" style="color: black"></i>
                                    <input type="password"  name="pwd" id="modalLRInput11" class="form-control form-control-sm validate font-weight-bold">
                                    <label data-error="wrong" data-success="right" for="modalLRInput11" style="color: black; font-weight:500">Your password</label>
                                </div>
                                <div class="text-center mt-2">
                                    <button class="btn btn-info"  id="loginmodalBtn" style="background: #0f0c29;  /* fallback for old browsers */
                                    background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
                                    background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                                   ; border-radius: 3rem ">Log in <i class="fa fa-sign-in ml-1"></i></button>
                                </div>
                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-center text-md-right mt-1 font-weight-bold" style="color: black">
                                    <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                                    <p>Forgot <a href="/app/forgotpassword" class="blue-text">Password?</a></p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal" style="background: #0f0c29;  /* fallback for old browsers */
                                background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
                                background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                                " >Close</button>
                            </div>
                        <!-- </form> -->
                        </div>
                        <!--/.Panel 7-->
    
                        <!--Panel 8-->
                        <div class="tab-pane fade" id="panel8" role="tabpanel">
                            <form method="POST" action="/app/signup0">
                            <!--Body-->
                            <div class="modal-body">
                                    <div class="md-form form-sm mb-5">
                                            <i class="fa fa-user prefix"style="color: black;"></i>
                                            <input type="text"  name="name" id="modalLRInput31" class="form-control form-control-sm validate" required>
                                            <label data-error="wrong" data-success="right" for="modalLRInput31"style="color: black; font-weight:500">Your name</label>
                                        </div>
                                        <div class="md-form form-sm mb-5">
                                            <i class="fa fa-phone prefix"style="color: black;"></i>
                                            <input type="tel" name="phone" id="modalLRInput32" class="form-control form-control-sm validate" required>
                                            <label data-error="wrong" data-success="right" for="modalLRInput32"style="color: black; font-weight:500">Your mobile</label>
                                        </div>
                                <div class="md-form form-sm mb-5">
                                    <i class="fa fa-envelope prefix"style="color: black;"></i>
                                    <input type="email"  name="email" id="modalLRInput33" class="form-control form-control-sm validate" required>
                                    <label data-error="wrong" data-success="right" for="modalLRInput33"style="color: black; font-weight:500">Your email</label>
                                </div>
    
                                <div class="md-form form-sm mb-5">
                                    <i class="fa fa-lock prefix"style="color: black;"></i>
                                    <input type="password" name="pwd" id="modalLRInput34" class="form-control form-control-sm validate" required>
                                    <label data-error="wrong" data-success="right" for="modalLRInput34"style="color: black; font-weight:500">Your password</label>
                                </div>
                                <div class="alert alert-danger" id="chekk" role="alert" style="display: none">
                                       check your password!!!
                                      </div>
                                <div class="md-form form-sm mb-4">
                                    <i class="fa fa-lock prefix"style="color: black;"></i>
                                    <input type="password"  name="pwd2" id="modalLRInput35" class="form-control form-control-sm validate" required>
                                    <label data-error="wrong" data-success="right" for="modalLRInput35"style="color: black; font-weight:500">Repeat password</label>
                                </div>
    
                                <div class="text-center form-sm mt-2">
                                    <button  type="submit" class="btn btn-info" id="signupbtn" style="background: #0f0c29;  /* fallback for old browsers */
                                    background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
                                    background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                                   ; border-radius: 3rem ">Sign up <i class="fa fa-sign-in ml-1"></i></button>
                                </div>
    
                            </div>
                            <!--Footer-->
                            <div class="modal-footer">
                                <div class="options text-right">
                                    <p class="pt-1 font-weight-bold">Already have an account? <a href="#" class="blue-text">Log In</a></p>
                                </div>
                                <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal"style="background: #0f0c29;  /* fallback for old browsers */
                                background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
                                background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                               ;">Close</button>
                            </div>
                        </form>
                        </div>
                        <!--/.Panel 8-->
                    </div>
    
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal: Login / Register Form-->
    
    <!-- <div class="text-center">
        <a href="" class="btn btn-default btn-rounded my-3" data-toggle="modal" data-target="#modalLRForm">Launch Modal LogIn/Register</a>
    </div> -->
    
    

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>
<script>
    $(document).ready(function(){
        var submission=1;




        $('.mylogout').hover(function(){
            $.post('/api/getname',{},function(data,status){
                if(data)
                $('.mylogout').html('Logout');
                $('.mylogout').attr('data-toggle','');
            });
           // $('.mylogout').html('Logout');

        });

        $('.mylogout').click(function(){
            if($(this).html()=='Logout'){
                
                $.post('/api/logout',{},function(data,status){
                    console.log('logout api target');
                    var merahref=window.location.href;
                    if(merahref.indexOf('dashboard')==-1)
                    window.location=window.location.href;
                    else
                    window.location='/app/home';
                });
                

            }
            // window.location=window.location.href;
        });

        $('.mylogout').mouseout(function(){
            $.post('/api/getname',{},function(data,status){
                $('.mylogout').html('Hi, '+data.name);
                // var url=window.location.href;
                // window.location=url;
            });
        });



        $('#loginmodalBtn').click(function(){ 
            // if($(this).html()=='Logout'){
            //     $.post('/api/logout',{},function(data,status){
            //         $('.mylogout').html('Sign Up, Free');
            //     });
            // }
            // else{
            $.post('/api/login',{email:$('#modalLRInput10').val(),pwd:$('#modalLRInput11').val()},function(data,status){
                console.log(data,status);
                if(data.flag==1){
                    $('.mylogout').html('Hi, '+data.name);
                    $('.mydash').css({"display":"block"});
                    $('#modalLRForm').modal('toggle');
                var url=window.location.href;
                window.location=url;
                }
                else{
                    $('#chek').show();
                }
            });
        // }
        });
        // password matching
    $('#modalLRInput14').change(function(){
        if($('#modalLRInput13').val()!= $('#modalLRInput14').val()){
                $('#chekk').show();
                
        }
        else{
            $('#chekk').hide();
        }
    });
    // $('#signupbtn').click(function(event){
    //     if(($('#modalLRInput10').val().length == 0) || ($('#modalLRInput11').val().length == 0) || ($('#modalLRInput12').val().length == 0) || ($('#modalLRInput13').val().length == 0) || ($('#modalLRInput14').val().length == 0))
    //               {  event.preventDefault(); }
    // });


    // $('#modalLRInput31').focusout(function(){
    //     if(!($(this).val()))
    //     submission=0;
    // });
    // $('#modalLRInput32').focusout(function(){
    //     if(!($(this).val()))
    //     submission=0;
    // });
    // $('#modalLRInput33').focusout(function(){
    //     if(!($(this).val()))
    //     submission=0;
    // });
    // $('#modalLRInput34').focusout(function(){
    //     if(!($(this).val()))
    //     submission=0;
    // });
    // $('#modalLRInput35').focusout(function(){
    //     if(!($(this).val()))
    //     submission=0;
    // });
    
    // $('#signupbtn').click(function(event){
    //     if($('#modalLRInput34').val()!=$('#modalLRInput35').val()) submission=0;
    //     if(submission==0)  $('#signupbtn').prop('disabled' ,false);
    // });

$('#modalLRInput35').keyup(function(event){
    if($('#modalLRInput34').val()!=$('#modalLRInput35').val()) 
    {
    $('#chekk').show();

   $('#signupbtn').click(function(event){
    if($('#modalLRInput34').val()!=$('#modalLRInput35').val()){
    event.preventDefault();
    console.log('prevent default');
    }
});

    }
else{
    console.log('else is working');
    $('#chekk').hide();
}
}
)

    });
</script>



    </body>
    </html>