<!DOCTYPE html>
<html lang="en">
<head>
<% include header.html %>


</head>
<style>
    #gogallery{
        cursor: pointer;
    }
    .mycard > div{
        margin: 10px;
    }
    #contestlink{
        cursor: pointer;
    }
    .ptr{
        cursor: pointer;
    }
    @media screen and (max-width:1000px){
        #hh{
            font-size: 8rem;

        }
        
    }
</style>
<body>


    <!-- ***** Wellcome Area Start ***** -->
    <section class="wellcome_area clearfix" id="home">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md">
                    <div class="wellcome-heading">
                        <h2>GLA Gallery Of Modern Art</h2>
                        <h3 id="hh" >GGMA</h3>
                        <p>Become a famous Artist by selling your Paintings...</p>
                    </div>
                    <div class="get-start-area">
                        <!-- Form Start -->
                            <a href="/app/artist"><input type="button" class="submit" value="Join Us"></a>
                        <!-- Form End -->
                    </div>



                </div>
            </div>
        </div>
        <!-- Welcome thumb -->
         <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s" >
            <img src="/static/images/bg-image.png" alt="">
        </div>







    </section>
    <!-- ***** Wellcome Area End ***** -->



    <!-- modal left & right  -->
    <div>
        <!-- Central Modal Warning Demo-->
        <div class="modal fade right" id="Modalleft"  role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-notify modal-warning modal-side modal-bottom-right" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading">GGMA Gallery</p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">

                        <div class="row ">
                            <div class="col-9 text-center" style="margin-left: 10%">
                                <img  src="<%= '/static/uploads/'+gallery[1].PIC %>" id="<%= gallery[1].ID %>" data-cap="<%= gallery[1].DES %>"  data-toggle="modal" data-target="#sideModalTLInfo" class="zoom img-fluid img-thumbnail waves-effect waves-light scale-down imgclass" style="height: 250px;width: 350px"  alt="">
                                <p class="title mb-0"><%= gallery[1].DES %></p>
                            </div>
                        </div>


                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <a href="/app/gallery" type="button" class="btn btn-outline-primary waves-effect btn-sm" onclick="window.location='/app/gallery';">See More >></a>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!-- Central Modal Warning Demo-->
    </div>
    <!-- modal left & right  -->




                </div>
            </div>
        </div>
        <!-- Welcome thumb -->
         <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s" >
            <img src="/static/images/bg-image.png" alt="">
        </div> 
    </section>
    <!-- ***** Wellcome Area End ***** -->
    <div>
        <!-- modal left  -->
        <div>
                <!-- Central Modal Warning Demo-->
            <div class="modal fade left" id="Modalleft"  role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" >
            <div class="modal-dialog modal-notify modal-warning modal-side modal-bottom-left" role="document"style="width: 20%;height: 55%">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                <p class="heading">GGMA Gallery</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
                </div>

                <!--Body-->
                <div class="modal-body">

                <div class="row ">
                    <div class="col-9 text-center" style="margin-left: 10%">
                            <img  src="<%= '/static/uploads/'+gallery[1].PIC %>" id="<%= gallery[1].ID %>" data-cap="<%= gallery[1].DES %>"  data-toggle="modal" data-target="#sideModalTLInfo" class="zoom img-absolute img-thumbnail waves-effect waves-light scale-down imgclass" style="height: 150px;width: 200px"  alt="">
                    <p class="title mb-0"><%= gallery[1].DES %></p>
                    </div>
                </div>


                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                <a href="/app/gallery" type="button" class="btn btn-sm btn-outline-primary waves-effect" onclick="window.location='/app/gallery';">See More >></a>
                </div>
            </div>
            <!--/.Content-->
            </div>
            </div>
            <!-- Central Modal Warning Demo-->
            </div>
            <!-- modal left  -->
            <!-- modal right  -->
        <div>
            <!-- Central Modal Warning Demo-->
        <div class="modal fade right" id="Modalright"  role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning modal-side modal-bottom-right" role="document" style="width: 20%;height: 55%">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
            <p class="heading">GGMA Exhibition</p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="white-text">&times;</span>
            </button>
            </div>

            <!--Body-->
            <div class="modal-body">

            <div class="row ">
                    <div class="col-9 text-center" style="margin-left: 10%">
                            <img  src="<%= '/static/uploads/'+gallery[2].PIC %>" id="<%= gallery[2].ID %>" data-cap="<%= gallery[2].DES %>"  data-toggle="modal" data-target="#sideModalTLInfo" class="zoom img-fluid img-thumbnail waves-effect waves-light scale-down imgclass" style="height: 150px;width: 200px"  alt="">
                    <p class="title mb-0"><%= gallery[2].DES %></p>
            </div>
        </div>
</div>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
            <a href="/app/exhibition" type="button" class="btn btn-sm btn-outline-primary waves-effect" onclick="window.location='/app/gallery';">See More >></a>
            </div>
        </div>
        <!--/.Content-->
        </div>
        </div>
        <!-- Central Modal Warning Demo-->
        </div>
        <!-- modal left  -->
             
            
    </div>




<!-- ***** Awesome Features Start ***** -->
<section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Heading Text -->
                    <div class="section-heading text-center">
                        <h2>About Us</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="single-feature">
                        <h5>  <img src='/static/styles/icon/001-target.png' style="width:5%;height:10%;"> Our Motto</h5>
                        <p>Our club is dedicated to inspire in our GLA students an understanding and appreciation of the art world and help them to make responsible decision to preserve and bring reverse mechanism of ancient art to the modern world. </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="single-feature">
                        <h5><img src='/static/styles/icon/002-goal.png' style="width:5%;height:10%;"> Our Mission</h5>
                        <p>Our mission is to stop the degradation of the ancient art and to build a future in which human beings identify and appreciate the imagination of great artists. The Visual Art has created aesthetic and intellectual purposes and it is judged for its beauty and meaningfulness. </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="single-feature">
                        <h5><img src='/static/styles/icon/003-mountain.png' style="width:5%;height:10%;"> Our Objectives</h5>
                        <p>To preserve the Indian heritage in the field of art,To bring out the beauty of Brij Culture and preserve and promote our Indian Art.To encourage the younger generation to have love for art to bring out the inherent talents in them to lead a life of meaningfulness and creativity.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-6">
                    <div class="single-feature">
                         <h5><img src='/static/styles/icon/activities.png' style="width:5%;height:10%;"> Our Activities</h5>
                        <!-- <p>
                            There is  a  Color Therapy, Still life Painting, Portrait Painting, Landscape/Cityscape Painting, Abstract and Interpretation, Organic Art, Declamation, Publication</p> -->
                            <p>There is  a  lot of Adventure, great fun, Color Therapy, Still life Painting, Portrait Painting, Landscape/Cityscape Painting, Abstract and Interpretation, Organic Art, Art Business, Sculpture, National/International Exhibitions, Declamation, Publication, Competitions in Art like: on the spot drawing and painting and slogan writing ,  giving messages about Art, Visits to Places of ancient and modern Art; Color Therapy Centers; Art study trips, Inter-collegiate competitions, etc., etc., and still more to bring out the inherent  talents of our students.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

<hr class="display-4" >

    <!-- ***** Cool Facts Area Start ***** -->
    <section class="cool_facts_area clearfix">
        <div class="container">
            
            <div class="row">
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="counter-area">
                            <h3><span class="counter">90</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <img src="/static/styles/icon/006-woman.png" alt="No Image">
                            <p>TOTAL SATISFIED CUSTOMERS</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="counter-area">
                            <h3><span class="counter">120</span></h3>
                        </div>
                        <div class="cool-facts-content">
                                <img src="/static/styles/icon/007-artist.png" alt="No Image">
                            <p>TOTAL ARTISTS</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="counter-area">
                            <h3><span class="counter">40</span></h3>
                        </div>
                        <div class="cool-facts-content">
                                <img src="/static/styles/icon/005-art.png" alt="No Image">
                            <p>TOTAL PAINTINGS FOR SALE</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.8s">
                        <div class="counter-area">
                            <h3><span class="counter">10</span></h3>
                        </div>
                        <div class="cool-facts-content">
                                <img src="/static/styles/icon/004-sold.png" alt="No Image">
                            <p>TOTAL PAINTINGS SOLD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Cool Facts Area End ***** -->







         <!-- ***** App Screenshots Area Start ***** -->
    <section class="app-screenshots-area bg-white section_padding_0_100 clearfix" id="screenshot" >
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <!-- Heading Text  -->
                        <a href="/app/gallery" ></a>
                        <div class="section-heading">
                            <h2 id="gogallery" >Gallery</h2>
                            <div class="line-shape"></div>
                        </div>
                    </a>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- App Screenshots Slides  -->
                        <div class="app_screenshots_slides owl-carousel">
    
    
    <% for(i in gallery){ %>
                            <div class="single-shot">
                                 <img src="<%= '/static/uploads/'+gallery[i].PIC %>" alt=" no image" href="/app/gallery"  >
                            </div>
    <% } %>
    
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ***** App Screenshots Area End *****====== -->





    <!-- ***** Pricing Plane Area Start *****==== -->
    <section class="pricing-plane-area section_padding_100_70 clearfix" style="background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%); ">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Heading Text  -->
                        <div class="section-heading text-center" id="contestlink" >
                            <img class="myhead" src="/static/images/c1.png" alt ="no img" style="width: 8% ;height: 8%"><span style="font-size: 200%;color: white;"> &nbsp;&nbsp;&nbsp;&nbsp; Contests</span>
                        </div>
                    </div>
                </div>
        
        
                <!--   yahaan contest waale card-->
                <div class="row no-gutters">




                    <!-- present waale-->

                    <% for(i in presentcompetition) { %>


                        <div class="col-12 col-md-6 col-lg-3 mycard">
                            <!-- Package Price  -->
                            <div class="single-price-plan text-center active ptr">
                                <!-- Package Text  -->
                                <div class="package-plan">
                                        <div class="caption"><h5 style="color: white;" ><%= presentcompetition[i].TITLE %></h5></div>
                                    <img src="<%= '/static/uploads/'+presentcompetition[i].PIC %>" style="width: 100%; height: 180px;">
                                    
                                    <div class="ca-price d-flex justify-content-center">
                                    </div>
                                </div>
                                <div class="package-description">
                                    <!-- yahaan end timer-->
                                    <!-- <p><i class="fa fa-hourglass-end"></i>To: <%= ' '+presentcompetition[i].END_TIME.toString().substring(4,24) %></p> -->
                                    
                                    <p><i class="fa fa-trophy"></i> &nbsp;&nbsp; WIN <%= '   '+presentcompetition[i].PRIZE %> </p>
                                </div>
                                <!-- Plan Button  -->
                                <div class="plan-button">
                                    <a href="/app/competition">Registration Closed..!!</a>
                                </div>
                            </div>
                        </div>
                    
                    <% } %>


            <!-- future waale-->
        
        <% for(i in futurecompetition) { %>
        
        
                    <div class="col-12 col-md-6 col-lg-3 mycard">
                        <!-- Package Price  -->
                        <div class="single-price-plan text-center ptr">
                            <!-- Package Text  -->
                            <div class="package-plan">
                                    <div class="caption"><h5><%= futurecompetition[i].TITLE %></h5></div>
                                <img src="<%= '/static/uploads/'+futurecompetition[i].PIC %>" style="width: 100%; height: 180px;">
                                
                                <div class="ca-price d-flex justify-content-center">
                                </div>
                            </div>
                            <div class="package-description">
                                <!-- yahaan aayega timer-->
                                <!-- <p><i class="fa fa-hourglass-start"></i>From: <%= ' '+futurecompetition[i].START_TIME.toString().substring(4,24) %></p>
                                <p><i class="fa fa-hourglass-end"></i>To: <%= ' '+futurecompetition[i].END_TIME.toString().substring(4,24) %></p> -->

                                <p><i class="fa fa-trophy"></i> &nbsp;&nbsp; WIN <%= '   '+futurecompetition[i].PRIZE %> </p>
                            </div>
                            <!-- Plan Button  -->
                            <div class="plan-button">
                                <a href="/app/competition">Register Now </a>
                            </div>
                        </div>
                    </div>
        
        <% } %>
        
        
                </div>
            </div>
        </section>
    <!-- ***** Pricing Plane Area End ***** -->

    <!-- ***** Client Feedback Area Start ***** -->
    <section class="clients-feedback-area bg-white section_padding_100 clearfix" id="testimonials">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <div class="slider slider-for">
                        <!-- Client Feedback Text  -->
                        <div class="client-feedback-text text-center">
                            <div class="client-name text-center">
                                <h5>Dr. Shiva Durga</h5>
                                <p>President</p>
                            </div>
                        </div>
                        <!-- Client Feedback Text  -->
                        <div class="client-feedback-text text-center">

                            <div class="client-name text-center">
                                <h5>Jagriti Kulshesta</h5>
                                <p>Staff Co-ordinators</p>
                            </div>
                        </div>
                        <div class="client-feedback-text text-center">
                            <div class="client-name text-center">
                                <h5>Dr. Shiva Durga</h5>
                                <p>President</p>
                            </div>
                        </div>
                        <!-- Client Feedback Text  -->
                        <div class="client-feedback-text text-center">

                            <div class="client-name text-center">
                                <h5>Jagriti Kulshesta</h5>
                                <p>Staff Co-ordinators</p>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Client Thumbnail Area -->
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="slider slider-nav">
                        <div class="client-thumbnail">
                            <img src="/static/images/shiv%20durga%20mam.jpg" alt="">
                        </div>
                        <div class="client-thumbnail">
                            <img src="/static/images/Jagriti%20Kulshesta%20.jpg" alt="">
                        </div>
                        <div class="client-thumbnail">
                            <img src="/static/images/shiv%20durga%20mam.jpg" alt="">
                        </div>
                        <div class="client-thumbnail">
                            <img src="/static/images/Jagriti%20Kulshesta%20.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Client Feedback Area End ***** -->

    <!-- ***** CTA Area Start ***** -->
    <section class="our-monthly-membership section_padding_50 clearfix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="membership-description">
                        <h2>Are You An Artist?</h2>
                        <p>Want to sale out painting?   Do you want &nbsp;<i class="fa fa-money"></i>&nbsp;?</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="get-started-button wow bounceInDown" data-wow-delay="0.5s">
                        <a href="/app/artist">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** CTA Area End ***** -->

    <!-- ***** Our Team Area Start ***** -->
    <section class="our-Team-area bg-white section_padding_100_50 clearfix" id="team">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Our Team</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="/static/images/ankit.jpeg" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.facebook.com/ankit.agrawal.12177276"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Ankit Agrawal</h4>
                            <p>Full Stack Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="/static/images/gaurang.jpg" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.facebook.com/profile.php?id=100009317835561"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Gaurang Sharma</h4>
                            <p>Full Stack Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="/static/images/gagan.jpeg" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.facebook.com/gagan.gaur.332"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Gagan Gaur</h4>
                            <p>Full Stack Developer</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="/static/images/kirti.png" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.facebook.com/profile.php?id=100009600702287"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Kirti Garg</h4>
                            <p>Full Stack Developer</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ***** Our Team Area End ***** -->

    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Get in touch with us!</h2>
                        <div class="line-shape"></div>
                    </div>
                    <!-- <div class="footer-text">
                        <p>We'll send you epic weekly blogs, whitepapers and things to make your app startup thrive, all FREE!</p>
                    </div> -->
                    <div class="address-text">
                        <p><span>Address:</span> 17KM Milestone NH-2,GLA University,Mathura</p>
                    </div>
                    <div class="phone-text">
                        <p><span>Phone:</span> +91 98977 68037</p>
                    </div>
                    <div class="email-text">
                        <p><span>Email:</span> shiva.durga@gla.ac.in</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                         <form action="/app/sendMail" method="post"> 
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                                <div class="row">
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Your Message *" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn">Send Now</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Message Input Area End -->
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Contact Us Area End ***** -->
    <% include footer.html %>
    <script>
    $(document).ready(function(){
        $('#gogallery').click(function(){
            window.location='/app/gallery';
        });
        $('#contestlink').click(function(){
            window.location='/app/competition';
        });
        $('.ptr').click(function(){
            window.location='/app/competition';
        })

    });
    </script>
</body>

</html>
